$color-grey-97: #f7f7f7;
$color-grey-40: #666666;
$color-grey-20: #333333;

//body
$color-body-background: $color-grey-97;
$color-font: $color-grey-20;
$color-font-light: $color-grey-40;
$color-aplayer-pic: $color-grey-40;